/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/Builds/
/[Mm]emoryCaptures/
/[Rr]ecordings/
/[Cc]aptures/
/Docs/TestResults/
/.vs/
/.vscode/
/.idea/
sysinfo.txt
crashlytics-build.properties
*.tmp
*.bak
*.csproj
*.sln
*.slnx
*.user
*.pidb
*.booproj
